@using SiteMap.Models;
@model CustomSiteMapNode

@if (Model != null && Model.Children != null && Model.Children.Count > 0)
{
    /* for root node */
    if (Model.Parent == string.Empty)
    {
        foreach (CustomSiteMapNode lv1child in Model.Children)
        {
            if (lv1child.Children != null && lv1child.Children.Count > 0)
            {
                Guid GID = Guid.NewGuid();
                <div class="sidenav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_@GID" id="@GID" aria-expanded="false" aria-controls="collapse_@GID">
                        @lv1child.Title
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <nav id="collapse_@GID" class="collapse sidenav-child" aria-labelledby="@GID" data-parent="@(ViewBag.DataParentID != null ? string.Format("{0}{1}", "#collapse_", ViewBag.DataParentID) : "#mySidenav")">
                        @foreach (CustomSiteMapNode lv2child in lv1child.Children)
                        {
                            Html.RenderPartial("_Navigation", lv2child, new ViewDataDictionary() { new KeyValuePair<string, object>("DataParentID", GID) });
                        }
                    </nav>
                </div>
            }
            else
            {
                <div class="sidenav-item">
                    <a class="nav-link" href="@lv1child.Url" title="@lv1child.Description">@lv1child.Title</a>
                </div>
            }
        }
    }
    /* for non-root node */
    else
    {
        Guid GID = Guid.NewGuid();
        <div class="sidenav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_@GID" id="@GID" aria-expanded="false" aria-controls="collapse_@GID">
                @Model.Title
                <span class="fa fa-caret-down"></span>
            </a>
            <nav id="collapse_@GID" class="collapse sidenav-child" aria-labelledby="@GID" data-parent="#collapse_@ViewBag.DataParentID">
                @foreach (CustomSiteMapNode childNode in Model.Children)
                {
                    Html.RenderPartial("_Navigation", childNode, new ViewDataDictionary() { new KeyValuePair<string, object>("DataParentID", GID) });
                }
            </nav>
        </div>
    }
}
else
{
    <div class="sidenav-item">
        <a class="nav-link" href="@Model.Url" title="@Model.Description">@Model.Title</a>
    </div>
}

